In [1]:
import pandas as pd

In [7]:
dict={"Apples":[30],"Bananas":[21]}
fruits=pd.DataFrame(dict)
print(fruits)

   Apples  Bananas
0      30       21

In [24]:
dict={"Apples":[35,41],"Bananas":[21,34]}
fruit_sales=pd.DataFrame(dict,index=["2017 Sales","2018 Sales"])
print(fruit_sales)
t=fruit_sales.shape
print(t)
fruit_sales.head()

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34
(2, 2)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [11]:
ingredients=pd.Series(["4 cups","1 cup","2 large","1 can"],index=["Flour","Milk","Eggs","Spam"],name="Dinner")
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
reviews = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv",index_col=0)
reviews.head()

In [26]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})
df.to_csv('people.csv', index=False)
df=pd.read_csv("people.csv")
print(df)

    Name  Age
0  Alice   25
1    Bob   30