In [1]:
import pandas as pd

In [2]:
# creating a dataframe

dict={"M":[45,43,42],"P":[34,41,37],"C":[21,25,32],"E":[49,47,48],"CS":[35,38,47]}

df=pd.DataFrame(dict,index=["stu_1","stu_2","stu_3"])

df

        M   P   C   E  CS
stu_1  45  34  21  49  35
stu_2  43  41  25  47  38
stu_3  42  37  32  48  47

In [3]:
# Basic attributes
# shape : (r,c)
t=df.shape

print(t)

(3, 5)

In [4]:
# First five entries
df.head()

        M   P   C   E  CS
stu_1  45  34  21  49  35
stu_2  43  41  25  47  38
stu_3  42  37  32  48  47

In [5]:
S=pd.Series([1,2,3,4,5],index=[0,1,2,3,4],name="Numbers")
S

0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64

In [6]:
# Reading a CSV FILE
DF=pd.read_csv('NYC_Jobs.csv',index_col=0)
DF.head()

,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
Job ID,,,,,,,,,,,,,,,,,,,,,
424339,DEPT OF HEALTH/MENTAL HYGIENE,External,1,"Triage Nurse, Bureau of Public Health Clinics",PUBLIC HEALTH NURSE,Competitive-1,51011,3,Health,F,...,**IMPORTANT NOTES TO ALL CANDIDATES: Please ...,Apply online with a cover letter to https://a1...,NaN,NaN,NaN,New York City Residency is not required for th...,03-01-2022,NaN,04-05-2022,04-12-2022
379094,NYC EMPLOYEES RETIREMENT SYS,External,1,CERTIFIED IT DEVELOPER (APPLICATIONS),CERT IT DEVELOPER (APP),Competitive-1,13643,2,"Technology, Data & Innovation",F,...,NaN,"TO APPLY FOR CONSIDERATION, PLEASE FORWARD A C...",NaN,NaN,NaN,New York City Residency is not required for th...,01-07-2019,NaN,01-07-2019,04-12-2022
520417,NYC HOUSING AUTHORITY,External,1,Chief of Settlement,EXECUTIVE AGENCY COUNSEL,Non-Competitive-5,95005,M2,Legal Affairs,F,...,1. Resume and cover letter must also include ...,Click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,03/28/2022,NaN,03/28/2022,04-12-2022
233549,NYC EMPLOYEES RETIREMENT SYS,External,1,"CERTIFIED IT ADMINISTRATOR (LAN/WAN), LEVEL 4",CERTIFIED IT ADMINISTRATOR (LA,Competitive-1,13652,4,Information Technology & Telecommunications,F,...,NaN,Click the 'apply now' button to apply. Please...,NaN,NaN,NaN,New York City Residency is not required for th...,03-01-2016,NaN,03-01-2016,04-12-2022
510256,HUMAN RIGHTS COMMISSION,External,5,Associate Human Rights Specialist,ASSOCIATE HUMAN RIGHTS SPECIAL,Competitive-1,55038,1,Constituent Services & Community Programs,F,...,NaN,For City employees: Go to Employee Self-Servic...,": DAY, 9-5; ON OCCASION, CANDIDATES MAY BE REQ...","22 Reade St, Ny",NaN,New York City residency is generally required ...,12/16/2021,NaN,12/16/2021,04-12-2022

In [7]:
# Converting a df to CSV file
df_1 = pd.DataFrame({'Name': ['Alice', 'Bob'],'Age': [25, 30]})
df_1.to_csv('people.csv', index=False)
df_1=pd.read_csv("people.csv")
df_1

    Name  Age
0  Alice   25
1    Bob   30

In [8]:
# Indexing [r,c] (indexing starts from 0)

# Index Based : iloc

C=df.iloc[:,2]
C

stu_1    21
stu_2    25
stu_3    32
Name: C, dtype: int64

In [9]:
E=df.iloc[0:2,3]
E

stu_1    49
stu_2    47
Name: E, dtype: int64

In [10]:
P=df.iloc[[0,2],1]
P

stu_1    34
stu_3    37
Name: P, dtype: int64

In [11]:
# lablel based : loc

df.loc[:,["P","CS"]]

        P  CS
stu_1  34  35
stu_2  41  38
stu_3  37  47

In [12]:
df.loc[['stu_1','stu_2'],['P','CS']]

        P  CS
stu_1  34  35
stu_2  41  38

In [13]:
# loc supports conditionals in () also
df.loc[(df.CS>45) & (df.E>40)]

        M   P   C   E  CS
stu_3  42  37  32  48  47

In [14]:
# Some other attributes
df.describe()

               M          P          C     E         CS
count   3.000000   3.000000   3.000000   3.0   3.000000
mean   43.333333  37.333333  26.000000  48.0  40.000000
std     1.527525   3.511885   5.567764   1.0   6.244998
min    42.000000  34.000000  21.000000  47.0  35.000000
25%    42.500000  35.500000  23.000000  47.5  36.500000
50%    43.000000  37.000000  25.000000  48.0  38.000000
75%    44.000000  39.000000  28.500000  48.5  42.500000
max    45.000000  41.000000  32.000000  49.0  47.000000

In [15]:
# return a array of unique entries in that column
df.M.unique()

array([45, 43, 42])

In [16]:
df.P.value_counts()

P
34    1
41    1
37    1
Name: count, dtype: int64

In [17]:
# Mapping : applying a function on a row or a column
# is on a column(default) or a row(axis=column)

# apply :

DF.head()

,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
Job ID,,,,,,,,,,,,,,,,,,,,,
424339,DEPT OF HEALTH/MENTAL HYGIENE,External,1,"Triage Nurse, Bureau of Public Health Clinics",PUBLIC HEALTH NURSE,Competitive-1,51011,3,Health,F,...,**IMPORTANT NOTES TO ALL CANDIDATES: Please ...,Apply online with a cover letter to https://a1...,NaN,NaN,NaN,New York City Residency is not required for th...,03-01-2022,NaN,04-05-2022,04-12-2022
379094,NYC EMPLOYEES RETIREMENT SYS,External,1,CERTIFIED IT DEVELOPER (APPLICATIONS),CERT IT DEVELOPER (APP),Competitive-1,13643,2,"Technology, Data & Innovation",F,...,NaN,"TO APPLY FOR CONSIDERATION, PLEASE FORWARD A C...",NaN,NaN,NaN,New York City Residency is not required for th...,01-07-2019,NaN,01-07-2019,04-12-2022
520417,NYC HOUSING AUTHORITY,External,1,Chief of Settlement,EXECUTIVE AGENCY COUNSEL,Non-Competitive-5,95005,M2,Legal Affairs,F,...,1. Resume and cover letter must also include ...,Click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,03/28/2022,NaN,03/28/2022,04-12-2022
233549,NYC EMPLOYEES RETIREMENT SYS,External,1,"CERTIFIED IT ADMINISTRATOR (LAN/WAN), LEVEL 4",CERTIFIED IT ADMINISTRATOR (LA,Competitive-1,13652,4,Information Technology & Telecommunications,F,...,NaN,Click the 'apply now' button to apply. Please...,NaN,NaN,NaN,New York City Residency is not required for th...,03-01-2016,NaN,03-01-2016,04-12-2022
510256,HUMAN RIGHTS COMMISSION,External,5,Associate Human Rights Specialist,ASSOCIATE HUMAN RIGHTS SPECIAL,Competitive-1,55038,1,Constituent Services & Community Programs,F,...,NaN,For City employees: Go to Employee Self-Servic...,": DAY, 9-5; ON OCCASION, CANDIDATES MAY BE REQ...","22 Reade St, Ny",NaN,New York City residency is generally required ...,12/16/2021,NaN,12/16/2021,04-12-2022

In [18]:
def func(title):
    return title.lower()

DF.Agency.apply(func)

Job ID
424339     dept of health/mental hygiene
379094      nyc employees retirement sys
520417             nyc housing authority
233549      nyc employees retirement sys
510256           human rights commission
                       ...
457839      nyc employees retirement sys
527141    housing preservation & dvlpmnt
509443        financial info svcs agency
352367     dept of health/mental hygiene
478739           human rights commission
Name: Agency, Length: 3773, dtype: object

In [19]:
# map: is for faster applying ie instant (pass dictionary)

DF["# Of Positions"].map({1:0})

# 1--> 0 and other-->NaN

Job ID
424339    0.0
379094    0.0
520417    0.0
233549    0.0
510256    NaN
         ...
457839    0.0
527141    0.0
509443    0.0
352367    NaN
478739    0.0
Name: # Of Positions, Length: 3773, dtype: float64

In [20]:
# star_ratings = reviews.apply(stars, axis='columns')

In [21]:
DF.head()

# original dataframe remains unchanges

,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
Job ID,,,,,,,,,,,,,,,,,,,,,
424339,DEPT OF HEALTH/MENTAL HYGIENE,External,1,"Triage Nurse, Bureau of Public Health Clinics",PUBLIC HEALTH NURSE,Competitive-1,51011,3,Health,F,...,**IMPORTANT NOTES TO ALL CANDIDATES: Please ...,Apply online with a cover letter to https://a1...,NaN,NaN,NaN,New York City Residency is not required for th...,03-01-2022,NaN,04-05-2022,04-12-2022
379094,NYC EMPLOYEES RETIREMENT SYS,External,1,CERTIFIED IT DEVELOPER (APPLICATIONS),CERT IT DEVELOPER (APP),Competitive-1,13643,2,"Technology, Data & Innovation",F,...,NaN,"TO APPLY FOR CONSIDERATION, PLEASE FORWARD A C...",NaN,NaN,NaN,New York City Residency is not required for th...,01-07-2019,NaN,01-07-2019,04-12-2022
520417,NYC HOUSING AUTHORITY,External,1,Chief of Settlement,EXECUTIVE AGENCY COUNSEL,Non-Competitive-5,95005,M2,Legal Affairs,F,...,1. Resume and cover letter must also include ...,Click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,03/28/2022,NaN,03/28/2022,04-12-2022
233549,NYC EMPLOYEES RETIREMENT SYS,External,1,"CERTIFIED IT ADMINISTRATOR (LAN/WAN), LEVEL 4",CERTIFIED IT ADMINISTRATOR (LA,Competitive-1,13652,4,Information Technology & Telecommunications,F,...,NaN,Click the 'apply now' button to apply. Please...,NaN,NaN,NaN,New York City Residency is not required for th...,03-01-2016,NaN,03-01-2016,04-12-2022
510256,HUMAN RIGHTS COMMISSION,External,5,Associate Human Rights Specialist,ASSOCIATE HUMAN RIGHTS SPECIAL,Competitive-1,55038,1,Constituent Services & Community Programs,F,...,NaN,For City employees: Go to Employee Self-Servic...,": DAY, 9-5; ON OCCASION, CANDIDATES MAY BE REQ...","22 Reade St, Ny",NaN,New York City residency is generally required ...,12/16/2021,NaN,12/16/2021,04-12-2022

In [22]:
# Grouping : grouping similar entries by columns

g_p=DF.groupby('Posting Type')
g_p.describe()

             # Of Positions                                                  \
                      count      mean        std  min  25%  50%  75%    max
Posting Type
External             1634.0  2.585067   9.313703  1.0  1.0  1.0  1.0  250.0
Internal             2139.0  2.636746  10.126809  1.0  1.0  1.0  1.0  250.0

             Salary Range From                ... Salary Range To            \
                         count          mean  ...             75%       max
Posting Type                                  ...
External                1634.0  58028.280774  ...        110000.0  265000.0
Internal                2139.0  57375.032642  ...        106381.0  265000.0

             Recruitment Contact
                           count mean std min 25% 50% 75% max
Posting Type
External                     0.0  NaN NaN NaN NaN NaN NaN NaN
Internal                     0.0  NaN NaN NaN NaN NaN NaN NaN

[2 rows x 32 columns]

In [23]:
g_p.agg({'# Of Positions':['min','max','count','mean']})

             # Of Positions
                        min  max count      mean
Posting Type
External                  1  250  1634  2.585067
Internal                  1  250  2139  2.636746

In [24]:
g_p_p=DF.groupby(['Posting Type','# Of Positions'])

In [25]:
g_p_p.describe()

                            Salary Range From                              \
                                        count          mean           std
Posting Type # Of Positions
External     1                         1293.0  62291.966349  38671.026991
             2                          147.0  46234.512135  31155.261431
             3                           43.0  44632.801628  30806.640563
             4                           21.0  36539.284986  28032.735575
             5                           28.0  46030.652857  22249.432309
...                                       ...           ...           ...
Internal     75                           4.0  18419.425000  36773.052179
             80                           3.0     21.709133      4.401776
             100                          1.0  30909.000000           NaN
             101                          1.0     15.450000           NaN
             250                          2.0     15.450000      0.000000

                                                                              \
                                    min          25%         50%         75%
Posting Type # Of Positions
External     1                   0.0000  49930.00000  63228.0000  80000.0000
             2                  15.0000    152.67695  53797.0000  70145.5000
             3                  15.0000  16279.12000  51550.0000  65302.0000
             4                  15.5000     44.82000  45722.0000  61151.0000
             5                  29.9800  39791.50000  54100.0000  59078.2500
...                                 ...          ...         ...         ...
Internal     75                 15.0000     35.01750     41.8500  18426.2575
             80                 16.6264     20.43845     24.2505     24.2505
             100             30909.0000  30909.00000  30909.0000  30909.0000
             101                15.4500     15.45000     15.4500     15.4500
             250                15.4500     15.45000     15.4500     15.4500

                                         Salary Range To                ...  \
                                     max           count          mean  ...
Posting Type # Of Positions                                             ...
External     1               250000.0000          1293.0  87019.021812  ...
             2               115000.0000           147.0  62362.924010  ...
             3               115000.0000            43.0  55821.121163  ...
             4                72063.0000            21.0  52218.877186  ...
             5                79620.0000            28.0  60828.145000  ...
...                                  ...             ...           ...  ...
Internal     75               73579.0000             4.0  18420.050000  ...
             80                  24.2505             3.0     24.775567  ...
             100              30909.0000             1.0  44930.000000  ...
             101                 15.4500             1.0     19.330000  ...
             250                 15.4500             2.0     15.450000  ...

                                                      Recruitment Contact  \
                                     75%          max               count
Posting Type # Of Positions
External     1               115000.0000  265000.0000                 0.0
             2                85847.0000  173486.0000                 0.0
             3                84813.5000  125000.0000                 0.0
             4                76912.0000  173486.0000                 0.0
             5                70683.7500  161534.0000                 0.0
...                                  ...          ...                 ...
Internal     75               18426.2575   73579.0000                 0.0
             80                  25.0381      25.8257                 0.0
             100              44930.0000   44930.0000                 0.0
             101                 19.3300      19.3300                 0.0
             250                 15.4500      15.4500                 0.0


                            mean std min 25% 50% 75% max
Posting Type # Of Positions
External     1               NaN NaN NaN NaN NaN NaN NaN
             2               NaN NaN NaN NaN NaN NaN NaN
             3               NaN NaN NaN NaN NaN NaN NaN
             4               NaN NaN NaN NaN NaN NaN NaN
             5               NaN NaN NaN NaN NaN NaN NaN
...                          ...  ..  ..  ..  ..  ..  ..
Internal     75              NaN NaN NaN NaN NaN NaN NaN
             80              NaN NaN NaN NaN NaN NaN NaN
             100             NaN NaN NaN NaN NaN NaN NaN
             101             NaN NaN NaN NaN NaN NaN NaN
             250             NaN NaN NaN NaN NaN NaN NaN

[65 rows x 24 columns]

In [26]:
# Sorting

DF.sort_values(by=['# Of Positions','Posting Type'],ascending=[False,False],inplace=True)

# inplace ensures changes are refelcted inoriginal dataframe

In [27]:
DF

,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
Job ID,,,,,,,,,,,,,,,,,,,,,
513843,DEPT OF PARKS & RECREATION,Internal,250,City Seasonal Aide/Security Guard,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,"Public Safety, Inspections, & Enforcement",F,...,Fees: Hired candidates who are not currently ...,If you are interested in becoming a member of ...,NaN,To be determined.,NaN,"Residency in New York City, Nassau, Orange, Ro...",01-10-2022,NaN,01-12-2022,04-12-2022
513843,DEPT OF PARKS & RECREATION,Internal,250,City Seasonal Aide/Security Guard,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,"Public Safety, Inspections, & Enforcement",F,...,Fees: Hired candidates who are not currently ...,If you are interested in becoming a member of ...,NaN,To be determined.,NaN,"Residency in New York City, Nassau, Orange, Ro...",01-10-2022,NaN,01-12-2022,04-12-2022
513843,DEPT OF PARKS & RECREATION,External,250,City Seasonal Aide/Security Guard,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,"Public Safety, Inspections, & Enforcement",F,...,Fees: Hired candidates who are not currently ...,If you are interested in becoming a member of ...,NaN,To be determined.,NaN,"Residency in New York City, Nassau, Orange, Ro...",01-10-2022,NaN,01-12-2022,04-12-2022
457673,NYC HOUSING AUTHORITY,Internal,101,TECHNICIAN,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,Constituent Services & Community Programs Comm...,F,...,NYCHA residents are encouraged to apply. The ...,To apply click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,03/28/2022,NaN,03/28/2022,04-12-2022
457673,NYC HOUSING AUTHORITY,External,101,TECHNICIAN,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,Constituent Services & Community Programs Comm...,F,...,NYCHA residents are encouraged to apply. The ...,To apply click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,03/28/2022,NaN,03/28/2022,04-12-2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526179,DEPT OF PARKS & RECREATION,External,1,Deputy Chief of Data Systems & Analytics for F...,IT PROJECT SPECIALIST,Non-Competitive-5,95710,0,"Technology, Data & Innovation Building Operati...",F,...,NOTE: All resumes must be received no later th...,Parks Employees:\t 1) From a Parks computer:...,NaN,"Olmsted Center, Queens",NaN,This position is exempt from NYC residency req...,03/25/2022,22-Apr-22,03/24/2022,04-12-2022
528044,OFFICE OF THE COMPTROLLER,External,1,Supervising Attorney - Labor Law,EXECUTIVE AGENCY COUNSEL,Non-Competitive-5,95005,M2,Legal Affairs,F,...,NaN,"TO APPLY, GO TO: Employment Opportunities at w...",NaN,NaN,NaN,New York City residency is generally required ...,04-07-2022,NaN,04-07-2022,04-12-2022
523965,OFFICE OF MANAGEMENT & BUDGET,External,1,Analyst Housing,BUDGET ANALYST (OMB),Pending Classification-2,6088,1,"Finance, Accounting, & Procurement Policy, Res...",F,...,"REQUIREMENTS: Analyst ($65,604+): Bachelor's...","For City employees, please go to Employee Self...",NaN,255 Greenwich Street,NaN,New York City residency is generally required ...,03-11-2022,NaN,03-11-2022,04-12-2022
524952,OFFICE OF THE COMPTROLLER,External,1,Scheduling Associate,COMMUNITY COORDINATOR,Non-Competitive-5,56058,0,Constituent Services & Community Programs Comm...,F,...,NaN,"TO APPLY, GO TO: Employment Opportunities at w...",NaN,NaN,NaN,New York City residency is generally required ...,03/21/2022,NaN,03/21/2022,04-12-2022
478739,HUMAN RIGHTS COMMISSION,External,1,Mediation Program Attorney,AGENCY ATTORNEY INTERNE,Non-Competitive-5,30086,0,Legal Affairs,F,...,NaN,For City employees: Go to Employee Self-Servic...,35 hours (M-F 9:00 A.M. - 5:00 P.M. with manda...,"22 Reade St, NY",NaN,New York City residency is generally required ...,08/27/2021,NaN,08/27/2021,04-12-2022

In [28]:
DF.nlargest(10,"# Of Positions")

,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
Job ID,,,,,,,,,,,,,,,,,,,,,
513843,DEPT OF PARKS & RECREATION,Internal,250,City Seasonal Aide/Security Guard,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,"Public Safety, Inspections, & Enforcement",F,...,Fees: Hired candidates who are not currently ...,If you are interested in becoming a member of ...,NaN,To be determined.,NaN,"Residency in New York City, Nassau, Orange, Ro...",01-10-2022,NaN,01-12-2022,04-12-2022
513843,DEPT OF PARKS & RECREATION,Internal,250,City Seasonal Aide/Security Guard,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,"Public Safety, Inspections, & Enforcement",F,...,Fees: Hired candidates who are not currently ...,If you are interested in becoming a member of ...,NaN,To be determined.,NaN,"Residency in New York City, Nassau, Orange, Ro...",01-10-2022,NaN,01-12-2022,04-12-2022
513843,DEPT OF PARKS & RECREATION,External,250,City Seasonal Aide/Security Guard,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,"Public Safety, Inspections, & Enforcement",F,...,Fees: Hired candidates who are not currently ...,If you are interested in becoming a member of ...,NaN,To be determined.,NaN,"Residency in New York City, Nassau, Orange, Ro...",01-10-2022,NaN,01-12-2022,04-12-2022
457673,NYC HOUSING AUTHORITY,Internal,101,TECHNICIAN,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,Constituent Services & Community Programs Comm...,F,...,NYCHA residents are encouraged to apply. The ...,To apply click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,03/28/2022,NaN,03/28/2022,04-12-2022
457673,NYC HOUSING AUTHORITY,External,101,TECHNICIAN,CITY SEASONAL AIDE,Non-Competitive-5,91406,0,Constituent Services & Community Programs Comm...,F,...,NYCHA residents are encouraged to apply. The ...,To apply click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,03/28/2022,NaN,03/28/2022,04-12-2022
442559,NYC HOUSING AUTHORITY,Internal,100,CARETAKER X (HA),CARETAKER (HA),Labor-3,90645,0,Building Operations & Maintenance,F,...,NYCHA residents are encouraged to apply.,Click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,09-04-2020,NaN,09-04-2020,04-12-2022
442559,NYC HOUSING AUTHORITY,External,100,CARETAKER X (HA),CARETAKER (HA),Labor-3,90645,0,Building Operations & Maintenance,F,...,NYCHA residents are encouraged to apply.,Click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,09-04-2020,NaN,09-04-2020,04-12-2022
468629,DEPT OF PARKS & RECREATION,Internal,80,Parks Enforcement Patrol,URBAN PARK RANGER,Competitive-1,60421,0,"Public Safety, Inspections, & Enforcement",F,...,"Duration: to June 30, 2022 Fees: Hired candid...",How to Apply Parks & City Employees: Access E...,NaN,Citywide,NaN,"Residency in New York City, Nassau, Orange, Ro...",07/16/2021,NaN,08/19/2021,04-12-2022
468629,DEPT OF PARKS & RECREATION,Internal,80,Parks Enforcement Patrol,URBAN PARK RANGER,Competitive-1,60421,0,"Public Safety, Inspections, & Enforcement",F,...,"Duration: to June 30, 2022 Fees: Hired candid...",How to Apply Parks & City Employees: Access E...,NaN,Citywide,NaN,"Residency in New York City, Nassau, Orange, Ro...",07/16/2021,NaN,08/19/2021,04-12-2022
518491,DEPT OF ENVIRONMENT PROTECTION,Internal,80,Seasonal City Park Worker,CITY PARK WORKER,Labor-3,90641,0,Building Operations & Maintenance,F,...,Appointments are subject to OMB approval. For ...,"To Apply, click the Apply Now button.",NaN,NaN,NaN,New York City residency is generally required ...,02-03-2022,NaN,02-08-2022,04-12-2022

In [29]:
# Left :
# Data Types and Missing Values
# Renaming and Combining

In [30]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\harshil r\appdata\local\programs\python\python313\lib\site-packages (1.6.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy>=1.19.5 in c:\users\harshil r\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.6.0 in c:\users\harshil r\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\harshil r\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\harshil r\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)